# Collecting Job Data using APIs

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [1]:
import pandas as pd
import json
import requests

In [2]:
api_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"

#Write a function to get the number of jobs for the Python technology
def get_number_of_jobs_T(technology):
    number_of_jobs = 0
    payload = {"Key Skills": technology}
    r = requests.get(api_url, params=payload)
    if r.ok:
        data = r.json()
        number_of_jobs +=len(data)

    return technology,number_of_jobs

In [3]:
get_number_of_jobs_T("Python")

('Python', 27005)

In [4]:
#Write a function to find number of jobs in US for a location of your choice
def get_number_of_jobs_L(location):
    
    number_of_jobs = 0
    payload = {"Location": location}
    r = requests.get(api_url, params=payload)
    if r.ok:
        data = r.json()
        number_of_jobs +=len(data)
    return location,number_of_jobs

In [5]:
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 27005)

In [6]:
#Create a python list of all locations for which you need to find the number of jobs postings.
loc = ['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']
loc

['Los Angeles',
 'New York',
 'San Francisco',
 'Washington DC',
 'Seattle',
 'Austin',
 'Detroit']

In [7]:
#Import libraries required to create excel spreadsheet
from openpyxl import Workbook

In [8]:
#Create a workbook and select the active worksheet
wb = Workbook()
ws = wb.active
ws

In [9]:
#Find the number of jobs postings for each of the location in the above list.
#Write the Location name and the number of jobs postings into the excel spreadsheet.
ws.append(["Location", "Number_of_Jobs"])

for i in loc:
    ws.append(get_number_of_jobs_L(i))

In [10]:
#Save into an excel spreadsheet named 'job-postings.xlsx'
wb.save("job-postings.xlsx")
jobs_loc = pd.read_excel("job-postings.xlsx")
jobs_loc

        Location  Number_of_Jobs
0    Los Angeles           27005
1       New York           27005
2  San Francisco           27005
3  Washington DC           27005
4        Seattle           27005
5         Austin           27005
6        Detroit           27005

In [11]:
#In the similar way, you can try for below given technologies and results can be stored in an excel sheet
languages = ['C', 'C#', 'C++','Java', 'JavaScript', 'Python', 'Scala', 'Oracle', 'SQL Server', 'MySQL Server', 'PostgreSQL', 'MongoDB']
languages

['C',
 'C#',
 'C++',
 'Java',
 'JavaScript',
 'Python',
 'Scala',
 'Oracle',
 'SQL Server',
 'MySQL Server',
 'PostgreSQL',
 'MongoDB']

In [12]:
wb = Workbook()
ws = wb.active
ws

In [13]:
ws.append(["Technology", "Number_of_Jobs"])

for language in languages:
    ws.append(get_number_of_jobs_T(language))

In [14]:
wb.save("job-languages.xlsx")
jobs_lang = pd.read_excel("job-languages.xlsx")
jobs_lang

      Technology  Number_of_Jobs
0              C           27005
1             C#           27005
2            C++           27005
3           Java           27005
4     JavaScript           27005
5         Python           27005
6          Scala           27005
7         Oracle           27005
8     SQL Server           27005
9   MySQL Server           27005
10    PostgreSQL           27005
11       MongoDB           27005