# Web Scraping

## Objective
* Extract information from a given web site
* Write the scraped data into a csv file

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
#Download the webpage at the url
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"
data = requests.get(url).text

In [3]:
#Create a soup object
soup = BeautifulSoup(data, "html.parser")

In [4]:
#Scrape the Language name and annual average salary
table_df = pd.DataFrame(columns=['Language Name','Annual Average Salary'])

for row in soup.find("tbody").find_all('tr'):
    cols = row.find_all('td')
    Language_name = cols[1].text
    Annual_average_salary = cols[3].text

    table_df = pd.concat([table_df, pd.DataFrame({
        'Language Name': Language_name,
        'Annual Average Salary': Annual_average_salary
    }, index=[0])], ignore_index=True)

In [5]:
table_df.drop(table_df.index[0], inplace=True)
table_df

   Language Name Annual Average Salary
1         Python              $114,383
2           Java              $101,013
3              R               $92,037
4     Javascript              $110,981
5          Swift              $130,801
6            C++              $113,865
7             C#               $88,726
8            PHP               $84,727
9            SQL               $84,793
10            Go               $94,082

In [6]:
table_df.to_csv("popular-languages.csv")