# Data Wrangling

## Objective
* Identify duplicate values in the dataset
* Remove duplicate values from the dataset
* Identify missing values in the dataset
* Impute the missing values in the dataset
* Normalize data in the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"
df = pd.read_csv(url, header=0)
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [3]:
#Finding duplicates
df.duplicated().sum()

154

In [4]:
#Removing duplicates
df.drop_duplicates(inplace=True)

In [5]:
df.duplicated().sum()

0

In [6]:
#Finding Missing values
missing_data = df.isnull().sum()
missing_data

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [7]:
#Find out how many rows are missing in the column 'WorkLoc'
missing_data[["WorkLoc"]]

WorkLoc    32
dtype: int64

In [8]:
#Find the value counts for the column WorkLoc.
df["WorkLoc"].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

In [9]:
#Identify the value that is most frequent (majority) in the WorkLoc column.
max_workloc = df["WorkLoc"].value_counts().idxmax()
max_workloc

'Office'

In [10]:
#Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority
df.replace({"WorkLoc": np.nan}, max_workloc, inplace=True)

In [11]:
df["WorkLoc"].isnull().sum()

0

In [12]:
#Normalizing Data
df[["CompFreq", "CompTotal"]]

      CompFreq  CompTotal
0       Yearly    61000.0
1       Yearly   138000.0
2       Yearly    90000.0
3      Monthly    29000.0
4       Yearly    90000.0
...        ...        ...
11547   Yearly   130000.0
11548   Yearly    74400.0
11549   Yearly   105000.0
11550   Yearly    80000.0
11551      NaN        NaN

[11398 rows x 2 columns]

In [13]:
#List out the various categories in the column 'CompFreq'
df["CompFreq"].value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

In [14]:
multi = [] #define list multi = space
def Normal(): #no defualt value filled
    for i,a in zip(df['CompFreq'],df['CompTotal']): #zip for Iterating over multiple columns - differing data type
        if i == 'Yearly':
            multi.append(a) #add an item in the list that use value of a(any row) in Comp
        elif i == 'Monthly':
            multi.append(a*12)
        else:
            i == 'Weekly'
            multi.append(a*52)
Normal()

In [15]:
df['NormalizedAnnualCompensation'] = multi
df[['NormalizedAnnualCompensation']].head()

   NormalizedAnnualCompensation
0                       61000.0
1                      138000.0
2                       90000.0
3                      348000.0
4                       90000.0